title{
    text-decoration: underline;
}

div{
    border: 3px solid black;
    height: 140px;
    width: 30%;
    display: inline-block;
    text-align: center;
    margin: 0.5%;
}

body{
    text-align: center;
    background-color: azure;
}

ul{
    text-align: left;
}

h2{
    text-decoration: underline;
    color: blue;
}


